
assignment_android/\.gradle/4\.4/fileChanges/last-build\.bin

assignment_android/\.gradle/4\.4/fileContent/fileContent\.lock

assignment_android/\.gradle/4\.4/fileHashes/fileHashes\.bin

assignment_android/\.gradle/4\.4/fileHashes/fileHashes\.lock

assignment_android/\.gradle/4\.4/fileHashes/resourceHashesCache\.bin

assignment_android/\.gradle/4\.4/javaCompile/classAnalysis\.bin

assignment_android/\.gradle/4\.4/javaCompile/jarAnalysis\.bin

assignment_android/\.gradle/4\.4/javaCompile/javaCompile\.lock

assignment_android/\.gradle/4\.4/javaCompile/taskHistory\.bin

assignment_android/\.gradle/4\.4/javaCompile/taskJars\.bin

assignment_android/\.gradle/4\.4/taskHistory/taskHistory\.bin

assignment_android/\.gradle/4\.4/taskHistory/taskHistory\.lock

assignment_android/\.gradle/buildOutputCleanup/buildOutputCleanup\.lock

assignment_android/\.gradle/buildOutputCleanup/cache\.properties

assignment_android/\.gradle/buildOutputCleanup/outputFiles\.bin

assignment_android/\.idea/caches/build_file_checksums\.ser

assignment_android/\.idea/codeStyles/Project\.xml

assignment_android/\.idea/gradle\.xml

assignment_android/\.idea/libraries/Gradle__android_arch_core_common_1_1_0_jar\.xml

assignment_android/\.idea/libraries/Gradle__android_arch_core_runtime_1_1_0\.xml

assignment_android/\.idea/libraries/Gradle__android_arch_lifecycle_common_1_1_0_jar\.xml

assignment_android/\.idea/libraries/Gradle__android_arch_lifecycle_livedata_core_1_1_0\.xml

assignment_android/\.idea/libraries/Gradle__android_arch_lifecycle_runtime_1_1_0\.xml

assignment_android/\.idea/libraries/Gradle__android_arch_lifecycle_viewmodel_1_1_0\.xml

assignment_android/\.idea/libraries/Gradle__com_android_support_animated_vector_drawable_27_1_1\.xml

assignment_android/\.idea/libraries/Gradle__com_android_support_appcompat_v7_27_1_1\.xml

assignment_android/\.idea/libraries/Gradle__com_android_support_cardview_v7_27_0_2\.xml

assignment_android/\.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_1_1_0\.xml

assignment_android/\.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_solver_1_1_0_jar\.xml

assignment_android/\.idea/libraries/Gradle__com_android_support_customtabs_27_0_2\.xml

assignment_android/\.idea/libraries/Gradle__com_android_support_design_27_1_1\.xml

assignment_android/\.idea/libraries/Gradle__com_android_support_recyclerview_v7_27_1_1\.xml

assignment_android/\.idea/libraries/Gradle__com_android_support_support_annotations_27_1_1_jar\.xml

assignment_android/\.idea/libraries/Gradle__com_android_support_support_compat_27_1_1\.xml

assignment_android/\.idea/libraries/Gradle__com_android_support_support_core_ui_27_1_1\.xml

assignment_android/\.idea/libraries/Gradle__com_android_support_support_core_utils_27_1_1\.xml

assignment_android/\.idea/libraries/Gradle__com_android_support_support_fragment_27_1_1\.xml

assignment_android/\.idea/libraries/Gradle__com_android_support_support_media_compat_27_1_1\.xml

assignment_android/\.idea/libraries/Gradle__com_android_support_support_v4_27_1_1\.xml

assignment_android/\.idea/libraries/Gradle__com_android_support_support_vector_drawable_27_1_1\.xml

assignment_android/\.idea/libraries/Gradle__com_android_support_test_espresso_espresso_core_2_2_2\.xml

assignment_android/\.idea/libraries/Gradle__com_android_support_test_espresso_espresso_idling_resource_2_2_2\.xml

assignment_android/\.idea/libraries/Gradle__com_android_support_test_exposed_instrumentation_api_publish_0_5\.xml

assignment_android/\.idea/libraries/Gradle__com_android_support_test_rules_0_5\.xml

assignment_android/\.idea/libraries/Gradle__com_android_support_test_runner_0_5\.xml

assignment_android/\.idea/libraries/Gradle__com_android_support_transition_27_1_1\.xml

assignment_android/\.idea/libraries/Gradle__com_facebook_android_facebook_android_sdk_4_33_0\.xml

assignment_android/\.idea/libraries/Gradle__com_facebook_android_facebook_applinks_4_33_0\.xml

assignment_android/\.idea/libraries/Gradle__com_facebook_android_facebook_common_4_33_0\.xml

assignment_android/\.idea/libraries/Gradle__com_facebook_android_facebook_core_4_33_0\.xml

assignment_android/\.idea/libraries/Gradle__com_facebook_android_facebook_login_4_33_0\.xml

assignment_android/\.idea/libraries/Gradle__com_facebook_android_facebook_messenger_4_33_0\.xml

assignment_android/\.idea/libraries/Gradle__com_facebook_android_facebook_places_4_33_0\.xml

assignment_android/\.idea/libraries/Gradle__com_facebook_android_facebook_share_4_33_0\.xml

assignment_android/\.idea/libraries/Gradle__com_getkeepsafe_relinker_relinker_1_2_2\.xml

assignment_android/\.idea/libraries/Gradle__com_google_android_gms_play_services_base_15_0_1\.xml

assignment_android/\.idea/libraries/Gradle__com_google_android_gms_play_services_basement_15_0_1\.xml

assignment_android/\.idea/libraries/Gradle__com_google_android_gms_play_services_gcm_15_0_1\.xml

assignment_android/\.idea/libraries/Gradle__com_google_android_gms_play_services_iid_15_0_1\.xml

assignment_android/\.idea/libraries/Gradle__com_google_android_gms_play_services_stats_15_0_1\.xml

assignment_android/\.idea/libraries/Gradle__com_google_android_gms_play_services_tasks_15_0_1\.xml

assignment_android/\.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1_jar\.xml

assignment_android/\.idea/libraries/Gradle__com_google_code_gson_gson_2_7_jar\.xml

assignment_android/\.idea/libraries/Gradle__com_google_zxing_core_3_3_0_jar\.xml

assignment_android/\.idea/libraries/Gradle__com_parse_bolts_bolts_android_1_4_0_jar\.xml

assignment_android/\.idea/libraries/Gradle__com_parse_bolts_bolts_applinks_1_4_0_jar\.xml

assignment_android/\.idea/libraries/Gradle__com_parse_bolts_bolts_tasks_1_4_0_jar\.xml

assignment_android/\.idea/libraries/Gradle__com_squareup_javawriter_2_1_1_jar\.xml

assignment_android/\.idea/libraries/Gradle__com_squareup_okhttp3_logging_interceptor_3_8_1_jar\.xml

assignment_android/\.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_8_1_jar\.xml

assignment_android/\.idea/libraries/Gradle__com_squareup_okio_okio_1_13_0_jar\.xml

assignment_android/\.idea/libraries/Gradle__com_squareup_picasso_picasso_2_5_2_jar\.xml

assignment_android/\.idea/libraries/Gradle__com_squareup_retrofit2_converter_gson_2_3_0_jar\.xml

assignment_android/\.idea/libraries/Gradle__com_squareup_retrofit2_retrofit_2_3_0_jar\.xml

assignment_android/\.idea/libraries/Gradle__io_realm_realm_android_library_3_5_0\.xml

assignment_android/\.idea/libraries/Gradle__io_realm_realm_annotations_3_5_0_jar\.xml

assignment_android/\.idea/libraries/Gradle__javax_annotation_javax_annotation_api_1_2_jar\.xml

assignment_android/\.idea/libraries/Gradle__javax_inject_javax_inject_1_jar\.xml

assignment_android/\.idea/libraries/Gradle__junit_junit_4_12_jar\.xml

assignment_android/\.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3_jar\.xml

assignment_android/\.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3_jar\.xml

assignment_android/\.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3_jar\.xml

assignment_android/\.idea/misc\.xml

assignment_android/\.idea/modules\.xml

assignment_android/\.idea/runConfigurations\.xml

assignment_android/\.idea/workspace\.xml

assignment_android/gradle/wrapper/gradle-wrapper\.jar

assignment_android/gradle/wrapper/gradle-wrapper\.properties

assignment_android/local\.properties

assignment_android/dictionary/\.idea/libraries/

assignment_android/dictionary/\.idea/caches/

assignment_android/dictionary/\.idea/codeStyles/

assignment_android/dictionary/\.idea/

*.iml

assignment_android/dictionary/local\.properties

Ex3/\.idea/
